[Unit]
Description=Wan detect service
After=multi-user.target
[Service]
Type=simple
Restart=always
RestartSec=0
ExecStart=/usr/bin/python3 /home/blacklutos/IGWS/wan_detect/wan_detect.py
[Install]
WantedBy=multi-user.target